#Projects {
  padding: 5% 0% 0% 0%;
  font-family: 'Merriweather Sans';
  background-color: #88a5c9;
  text-align: center;
  position: relative;
}

#Projects button {
  background-color: #5a5b6b00;
  color: #ffffff00;
  z-index: 2;
  width: 100px;
  height: 100px;
}

#Projects #left {
  position: absolute;
  top: 50%;
  left: 0%;
  background-size: contain;
  background-image: url('./images/rightButton.png');
}

#Projects #right {
  position: absolute;
  top: 50%;
  right: 0%;
  background-image: url('./images/leftButton.png');
  background-size: contain;
}

video {
  width: 100%;
}

.desktopItems {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-end;
  padding: 0em 1em 0em 1em;
}

.tags li {
  display: inline-block;
  width: fit-content;
  padding: 0.5em 1em 0.5em 1em;
  margin: 0.5em;
  color: #FFDF78;
  background-color: #2b2b2b;
}

.project {
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 2em;
  margin-bottom: 1em;
  background-color: #FFDF78;
}

.desktop img {
  max-width: 100%;
}

.links {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.links img {
  width: 50px;
  height: 50px;
}

@media (min-width: 1000px) {
  .desktopItems { 
    grid-template-columns: repeat(2, 1fr); 
  } 
  .desktop {
    display: block;
    margin: auto;
  }
  .desktopItems {
    padding: 0em 1em 0em 5em;
  }
  #Projects button {
    width: 6vw;
    height: 6vw;
  }
  .project li {
    font-size: 0.6em !important;
  }
}