@import '/src/_mixin.scss';

.projects {
    background-image: url('../../images/projects/pixel_glitter.gif');
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
    overflow: hidden;

    &.blue {
        background-image: url('../../images/projects/clouds.png');
    }

    .biggest-projects, .personal-projects {
        background-size: contain;
        position: absolute;
        left: 50%;
        top: 1%;
        transform: translate(-50%, 0%);
        width: 100vw;
        height: 40vw;
        z-index: 1;

        @include respond-to(phone_landscape) {
            width: 35vw;
            height: 13vw;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
        @include respond-to(tablet_portrait) {
            width: 65vw;
            height: 24vw;
        }
        @include respond-to(tablet_landscape) {
            width: 50vw;
            height: 20vw;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
        @include respond-to(desktop) {
            width: 40vw;
            height: 15vw;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
    }
    .biggest-projects {
        background-image: url('../../images/projects/biggest_projects_title.png');
    }
    .personal-projects {
        background-image: url('../../images/projects/personal_projects_title.png');
    }
    &.blue button {
        background-image: linear-gradient(to right, #66c6d4, #8bfea6, #8bfea6, #7c86f0);
    }
    button {
        color: black;
        padding: 0.5em 1em;
        cursor: pointer;

        background-size: 300% 100%;
        background-image: linear-gradient(to right, #848cef, #b5e4fe, #b5e4fe, #ffc7fe);

        &:hover {
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            background-position: 100% 0;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }
    }
}

.card {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */

    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;

    cursor: grab;
    
    width: 78vw;
    height: 60vw;
    padding: 6%;
    
    p {
        margin: 0em;
    }

    background-image: url('../../images/projects/notepad.png');
    background-size: contain;

    .icons {
        display: flex;
        cursor: pointer;
        justify-content: end;
        align-items: center;    
        margin: 0 0.5em;
        margin-top: auto;
        
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

        img {
            width: 50%;

            @include respond-to(tablet_portrait) {
                width: 60%;
            }
            @include respond-to(desktop) {
                width: 3.5vw;
            }
        }
    }

    &.aha, &.netflix {
        left: 50%;
        top: 45%;
        transform: translate(-50%,0%);
    }
    &.teatrix, &.lander {
        left: 50%;
        top: 60%;
        transform: translate(-50%,0%);
    }
    &.whitelabel, &.somos {
        left: 50%;
        top: 20%;
        transform: translate(-50%,0%);
    }

    @include respond-to(phone_landscape) {
        padding: 2vw;
        width: 34vw;
        height: 26.5vw;

        
        &.whitelabel, &.somos {
            left: 1%;
            top: 1%;
            transform: translate(-0%, 0%);
        }
        &.teatrix, &.lander {
            left: 60%;
            top: 1%;
            transform: translate(-0%, 0%);
        }
        &.aha, &.netflix {
            left: 50%;
            top: 45%;
            transform: translate(-50%, 0%);
        }
    }
    @include respond-to(tablet_portrait) {
        padding: 3vw;
        width: 56vw;
        height: 44vw;
    }
    @include respond-to(tablet_landscape) {
        padding: 2%;
        width: 29vw;
        height: 22.5vw;
        
        &.aha, &.netflix {
            left: 35%;
            top: 50%;
            transform: translate(-0%, 0%);
        }
        &.teatrix, &.lander {
            left: 65%;
            top: 25%;
            transform: translate(-0%, 0%);
        }
        &.whitelabel, &.somos {
            left: 4%;
            top: 1%;
            transform: translate(-0%, 0%);
        }
    }
    @include respond-to(desktop) {
        padding: 2%;
        width: 29vw;
        height: 22.5vw;
        
        &.aha, &.netflix {
            left: 35%;
            top: 45%;
            transform: translate(-0%, 0%);
        }
        &.teatrix, &.lander {
            left: 63%;
            top: 20%;
            transform: translate(-0%, 0%);
        }
        &.whitelabel, &.somos {
            left: 4%;
            top: 1%;
            transform: translate(-0%, 0%);
        }
    }
}

.inside-card {
    cursor: grab;
    width: 85vw;
    height: 45vw;
    background-size: contain;
    position: absolute;
    z-index: 0;
    
    display: flex;
    align-items: end;
    justify-content: flex-end;

    > button {
        margin: 4% 7%;
    }

    &.aha, &.netflix {
        background-image: url('../../images/projects/aha_notepad.png');
        left: 50%;
        top: 45%;
        transform: translate(-50%,0%);
    }
    &.netflix {
        background-image: url('../../images/projects/netflix_notepad.png');
    }
    &.teatrix, &.lander {
        background-image: url('../../images/projects/teatrix_notepad.png');
    
        left: 50%;
        top: 70%;
        transform: translate(-50%,0%);
    }
    &.lander {
        background-image: url('../../images/projects/lander_notepad.png');
    }
    &.whitelabel, &.somos {
        background-image: url('../../images/projects/whitelabel_notepad.png');

        left: 50%;
        top: 20%;
        transform: translate(-50%,0%);
    }
    &.somos {
        background-image: url('../../images/projects/somos_notepad.png');
    }

    @include respond-to(phone_landscape) {
        width: 40vw;
        height: 21vw;
        &.whitelabel, &.somos {
            left: 1%;
            top: 1%;
            transform: translate(-0%, 0%);
        }
        &.teatrix, &.lander {
            left: 60%;
            top: 1%;
            transform: translate(-0%, 0%);
        }
        &.aha, &.netflix {
            left: 50%;
            top: 57%;
            transform: translate(-50%, 0%);
        }
    }
    @include respond-to(tablet_portrait) {
        width: 65vw;
        height: 34vw;
    }
    @include respond-to(tablet_landscape) {
        width: 36vw;
        height: 19vw;
    
        &.whitelabel, &.somos {
            left: 4%;
            top: 12%;
            transform: translate(-0%, 0%);
        }
        &.teatrix, &.lander {
            left: 62%;
            top: 25%;
            transform: translate(-0%, 0%);
        }
        &.aha, &.netflix {
            left: 35%;
            top: 60%;
            transform: translate(-0%, 0%);
        }
    }
    @include respond-to(desktop) {
        width: 32vw;
        height: 16.8vw;
    
        &.whitelabel, &.somos {
            left: 4%;
            top: 6%;
            transform: translate(-0%, 0%);
        }
        &.teatrix, &.lander {
            left: 62%;
            top: 20%;
            transform: translate(-0%, 0%);
        }
        &.aha, &.netflix {
            left: 35%;
            top: 60%;
            transform: translate(-0%, 0%);
        }
    }
}