#completeLogo {
  z-index: 2;
  width: 100%;
  height: 100%;

  background-color: black;  
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;  
}

#logo {
  animation: fill 0.5s ease forwards 3.5s;
}

#logo path:nth-child(1) {
  stroke-dasharray:  231px; 
  stroke-dashoffset: 231px;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(2) {
  stroke-dasharray:  202px;
  stroke-dashoffset: 202px;
  animation: line-anim 2s ease forwards 0.3s;
}

#logo path:nth-child(3) {
  stroke-dasharray:  259px; 
  stroke-dashoffset: 259px;
  animation: line-anim 2s ease forwards 0.6s;
}

#logo path:nth-child(4) {
  stroke-dasharray:  259px; 
  stroke-dashoffset: 259px;
  animation: line-anim 2s ease forwards 0.9s;
}

#logo path:nth-child(5) {
  stroke-dasharray:  346px;
  stroke-dashoffset: 346px;
  animation: line-anim 2s ease forwards 1.2s;
}

#logo path:nth-child(6) {
  stroke-dasharray:  233px; 
  stroke-dashoffset: 233px;
  animation: line-anim 2s ease forwards 1.8s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}