.game { 
  padding: 2em 0 2em 0;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
}

.game h1, .game h2, .game h3 {
  font-family: 'VT323';
  color: white;
  font-weight:normal !important;
  padding: 0 !important; 
}

.game h3 {
  color: #7babe6;
  visibility: hidden;
}

#gameView {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  width: 778px;
  max-width: 100%;
}

.play {
  background-image: url('./images/background-mobile.png');
  padding-bottom: 0.9em;
  width: 778px;
  height: 410px;
}

.house1 {
  background-image: url('./images/house1.png');
  padding-bottom: 0.35em;
  height: 190px;
}

.house2 {
  background-image: url('./images/house2.png');
  height: 190px;
  padding-bottom: 0.35em;
}

.house3 {
  background-image: url('./images/house3.png');
  height: 190px;
  padding-bottom: 0.35em;
}

.row {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-bottom: 0.2em;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: flex-end;
}

.row a {
  font-size: 1.7em;
}

.house1 .row, .house2 .row, .house3 .row {
  padding-bottom: 0;
  padding-top: 0em;
}

@media (min-width: 1000px) {
  .row { 
    height: 50%;
    grid-template-columns: repeat(3, 1fr); 
  }
  .row a {
    font-size: 1em;
  }
  .game h3 {
    visibility: visible;
  }
  .sprite {
    visibility: visible !important;
  }
  .play {
    background-image: url('./images/background.png');
  }
}

.sprite {
  display: block;
  width: 9.6vh;
  visibility: hidden;
  max-width: 9.6vh;
}

.section {
  font-family: 'VT323';
  color: #67A5C8;
  width: 50%;
  background-color: black;
  text-decoration: none;
  display:inline-block;
  margin-top: 1em;
}

.section:hover {
  background-color: #003d55;
  color: rgb(191, 219, 255);
  font-weight: normal;
}