@import '/src/_mixin.scss';

$photo-container-size: 80vw;

.coffee-shop {
    width: 100vw;
    height: 100vh;
    background-image: url('./../../images/coffee_shop.png');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    

    .photo-container {
        background: linear-gradient(to top, #6A8042 50%, transparent 50%);
        img {
            width: $photo-container-size;
            height: $photo-container-size;
        }
    }

    
    .text {
        background-color: #6A8042;
        position: relative;
        height: fit-content;
        width: $photo-container-size;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0 calc($photo-container-size/2) 0;

        .name-container {
            width: 70%;
        }

        .half-circle {
            width: $photo-container-size;
            height: $photo-container-size;
            position: absolute;
            background: linear-gradient(to top, #6A8042 50%, transparent 50%);
            border-radius: 100%;
            
            inset: auto 0 calc($photo-container-size / -2) + 0.1 0;
        }
    }
    
    @include respond-to(phone_landscape) {
        $photo-container-size: 15em;
        
        flex-direction: row;        
        .text {
            height: $photo-container-size;
            width: 100%;
            
            margin: 0 calc($photo-container-size/2) 0 0;

            .name-container {
                width: 20vw;
            }

            .half-circle {
                width: $photo-container-size;
                height: $photo-container-size;
                background: linear-gradient(to left, #6A8042 50%, transparent 50%);
                
                inset: 0 calc($photo-container-size / -2) 0 auto;
            }
        }

        .photo-container {
            background: linear-gradient(to left, #6A8042 50%, transparent 50%);
            img {
                width: $photo-container-size;
                height: $photo-container-size;
            }
        }
    }

    @include respond-to(tablet_portrait) {
        $photo-container-size: 60vw;
        
        .text {
            height: $photo-container-size;
            width: $photo-container-size;
            
            margin: 0 0 calc($photo-container-size/2) 0;
            height: 60vh;

            .name-container {
                width: 70%;
            }

            .half-circle {
                width: $photo-container-size;
                height: $photo-container-size;
                
                inset: auto 0 calc($photo-container-size / -2) + 0.1 0;
            }
        }

        .photo-container {
            img {
                width: $photo-container-size;
                height: $photo-container-size;
            }
        }
    }

    @include respond-to(tablet_landscape) {
        $photo-container-size: 30vw;
        
        flex-direction: row;        
        .text {
            height: $photo-container-size;
            width: 50vw;
            
            margin: 0 calc($photo-container-size/2) 0 0;

            .name-container {
                width: 20vw;
            }

            .half-circle {
                width: $photo-container-size;
                height: $photo-container-size;
                background: linear-gradient(to left, #6A8042 50%, transparent 50%);
                
                inset: 0 calc($photo-container-size / -2) 0 auto;
            }
        }

        .photo-container {
            background: linear-gradient(to left, #6A8042 50%, transparent 50%);
            img {
                width: $photo-container-size;
                height: $photo-container-size;
            }
        }
    }

    @include respond-to(airpad_landscape_nesthub) {
        $photo-container-size: 30vw;
        
        flex-direction: row;        
        .text {
            height: $photo-container-size;
            width: 50vw;
            
            margin: 0 calc($photo-container-size/2) 0 0;

            .name-container {
                width: 20vw;
            }

            .half-circle {
                width: $photo-container-size;
                height: $photo-container-size;
                background: linear-gradient(to left, #6A8042 50%, transparent 50%);
                
                inset: 0 calc($photo-container-size / -2) 0 auto;
            }
        }

        .photo-container {
            background: linear-gradient(to left, #6A8042 50%, transparent 50%);
            img {
                width: $photo-container-size;
                height: $photo-container-size;
            }
        }
    }

    @include respond-to(desktop) {
        $photo-container-size: 25vw;
        
        flex-direction: row;        
        .text {
            height: $photo-container-size;
            width: 30vw;
            
            margin: 0 calc($photo-container-size/2) 0 0;

            .name-container {
                width: 20vw;
            }

            .half-circle {
                width: $photo-container-size;
                height: $photo-container-size;
                background: linear-gradient(to left, #6A8042 50%, transparent 50%);
                
                inset: 0 calc($photo-container-size / -2) 0 auto;
            }
        }

        .photo-container {
            background: linear-gradient(to left, #6A8042 50%, transparent 50%);
            img {
                width: $photo-container-size;
                height: $photo-container-size;
            }
        }
    }
}