@import '/src/_mixin.scss';

#hobbies {
  width: 80%;
  background-color: rgb(255, 255, 255);
  padding: 5vw;

  .name-container {
      width: 100%;
  }
  .dogs {
    img {
      width: 20vw;
      height: 20vw;
    }

  }
  @include respond-to(phone_landscape) {
    .name-container {
        width: 70%;
    }
    .dogs img {
      width: 10vw;
      height: 10vw;
    }
  }
  @include respond-to(tablet_landscape) {
    .name-container {
        width: 70%;
    }
    .dogs img {
      width: 11vw;
      height: 11vw;
    }
  }
  @include respond-to(desktop) {
    padding: 2vw;
  
    .name-container {
        width: 55%;
    }
    .dogs img {
      width: 10vw;
      height: 10vw;
    }
  }
}