@import '/src/_mixin.scss';

#ContactMe {
  color: black;
  text-align: center;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #ffffffcf;
  padding: 2vw;
  width: 80%;

  .Contact {
    max-width: 100%;
  }
  
  .extraSocialMedia {
    display: flex;
    flex-direction: column;
    a > img {
      width: 100px;
      height: 100px;
      padding: 1em;
    }
  }

  .final {
    width: 100%;
  }

  @include respond-to(phone_landscape) {
    .Contact {
      width: 70%;
    }
    
    .extraSocialMedia {
      flex-direction: row;
      a > img {
        width: 70px;
        height: 70px;
      }
    }
  
    .final {
      width: 50%;
    }
  }


  @include respond-to(tablet_portrait) {
    .final {
      width: 50%;
    }
  }

  @include respond-to(tablet_landscape) {
    .Contact {
      width: 60%;
    }
    
    .extraSocialMedia {
      flex-direction: row;
      a > img {
        width: 10vw;
        height: 10vw;
      }
    }
  
    .final {
      width: 50%;
    }
  }
  @include respond-to(desktop) {
    .Contact {
      width: 55%;
    }
    
    .extraSocialMedia {
      flex-direction: row;
      a > img {
        width: 7vw;
        height: 7vw;
      }
    }
  
    .final {
      width: 50%;
    }
  }
}
