#ContactMe {
  padding: 5% 0 5% 0;
  width: 100%;
  background-color: #5D5F7A;
  font-family: 'Merriweather Sans';
  color: black;
  text-align: center;
  font-weight: 700;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Contact {
  max-width: 100%;
}

.final {
  max-width: 100%;
  padding: 1em 0em 1em 0em;
}

.extraSocialMedia {
  display: flex;
  flex-direction: row;
}

.extraSocialMedia a > img {
  width: 100px;
  height: 100px;
  padding: 1em;
  max-width: 100px;
}

#title {
  padding-top: 2.5em;
  color: #000000;
}

@media (min-width: 1000px) {
  #link {
    font-size: 1em !important;
  }
}

#link:hover {
  color: #ffffff;
}