#ContactMe {
  padding-top: 5%;
  width: 100%;
  background-color: #5D5F7A;
  font-family: 'Merriweather Sans';
  color: black;
  text-align: center;
  font-weight: 700;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Contact {
  max-width: 100%;
}

.final {
  max-width: 100%;
  padding: 1em 0em 5em 0em;
}

#title {
  padding-top: 2.5em;
  color: #000000;
}

#link {
  text-decoration: none;
  color: black;
  font-size: 2em;
}

@media (min-width: 1000px) {
  #link {
    font-size: 1em !important;
  }
}

#link:hover {
  color: #ffffff;
}