#pinContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
 .panel {
    height: 100vh;
    width: 100vw;
    position: absolute;
    text-align: center;
    span {
      position: relative;
      display: block;
      top: 50%;
    }
    &.hobbies {
      background-image: url('/src/images/dogs.png');
      background-size: cover;
      background-position: center;
    
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &.contactme {
      background-image: url('/src/images/ghibli.png');
      background-size: cover;
      background-position: center;
    
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
