@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  cursor: url("./images/cursor.png"), pointer;
}

html {
  font-size: calc(1em + 1vw)
}

h1 {
  font-size: 1.8em;
  padding-bottom: 0.5em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 0.8em;
  padding-top: 1em;
  padding-bottom: 1em;
}

h4 {
  font-size: 0.6em;
  padding-top: 1rem;
}

p {
  font-size: 0.8em;
}

li:not(#hobbies #list) {
  padding: 0.2em;
  font-size: 0.8em;
  list-style: none;
}

a:not(#link, .section, .project) {
  font-size: 1em;
}

body::-webkit-scrollbar {
  width: 13px;
}

body::-webkit-scrollbar-track {
  background: #2f3133;
}

body::-webkit-scrollbar-thumb {
  background-color: #3472a4; 
  border-radius: 20px; 
}
